.project
*.log
*/node-log.log
logs/*.log
!.gitignore
node_modules/*
.project
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
.idea/**
/game-server/config/ipForward.json
/game-server/config/schema/mysql.json
/game-server/config/db.json
/game-server/config/servers.json
/.idea
workspace.xml
